#svg1606{
  margin-top: 50px;
}
#whatsappLogo{
  width:100px
}

.first-color{
  color: #40c1ac;
}

.second-color{
  color: #5d536c;
}

.bg-second-color{
  background: #5d536c;
}

.icon-size {
	font-size: 3em;
}

a:hover {
  color: #5d536c;
  text-decoration: none;
}

a.hover:hover {
  text-decoration: underline;
}

.font-size-2{
  font-size: 1rem;
}

.w-20{
  width: 17%;
}

.phone{
  letter-spacing: 2.5px;
}
html { height: 100%; }
body { background: #FFF; 
/*   font: 400 1.5em/1.5 "Droid Serif", serif;  */
  color: #111; text-align: center; height: 100%; 
}

h1 { font: 700 2.8em/1.2 "Droid Sans", sans-serif; }
h2 { font: 700 1.5em/1.5 "Droid Sans", sans-serif; margin: 1em 0; }

#banner { 
  background: url(mysanBackground.jpg) no-repeat fixed 50% 0; background-size: cover; color: #fff; height: 100%; width: 100%; 
}

#bannertext { width: 24em; position: fixed; top: 20%; left: 50%; border: .5em solid #fff; margin-left: -12em; padding: 2em 0; }

#content { max-width: 28em; margin: 0 auto; padding: 2em; }

/* #content p { margin: 0 0 2em; } */